/* Write your CSS here */

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}
.big-container {
  background-color: #ffd569;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.fruit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  border-radius: 10px;
  background-color: #ffffff;
}
.heading {
  font-family: Roboto;
  color: #000000;
  font-size: 30px;
  font-weight: 700;
}
.count {
  font-family: Roboto;
  color: #ffd569;
  font-size: 35px;
  font-weight: 700;
}
.img-con {
  display: flex;
  justify-content: space-between;
}
.Mango-banana {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgCard {
  height: 150px;
  width: 120px;
  margin-bottom: 15px;
}

.Mango-bananaT {
  color: #ffffff;
  font-family: Roboto;
  font-size: 12px;
  background-color: #007bff;
  border-width: 0px;
  height: 25px;
  width: 80px;
  border-radius: 5px;
}
